body{
    background-image: url("covid1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 700px;
}
.form-login{
    margin-top: 8%;
    margin-left: 5%;
    
}
.outter-form-login {
    padding: 20px;
    background: #0489B1;
    position: relative;
    border-radius: 5px;
}
.inner-login .form-control {
    background: #D3D3D3;
}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px; 
}

.forget {
    margin-top: 20px;
    color: #fff;
}
.btn-custom-green {
    background: #0B4C5F;
    color: #fff;
}
